@model Projet1.Models.Domiciliatione

@{
    ViewData["Title"] = "Details";
    Layout = "_ALayout";
}

<h1>Details</h1>

<div>
    <h4>Domiciliatione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDocument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDocument)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAdresseDomiciliation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAdresseDomiciliation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDebut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.etat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
